@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<h2>Destination Marketplace</h2>
<p>
First Name : <input type="text" ng-model="firstname" placeholder="Enter first name here">
Middle Name: <input type="text" ng-model="middlename" placeholder="Enter middle name here">
Last Name : <input type="text" ng-model="lastname" placeholder="Enter last name here">
</p>