<div style="text-align: center;" ng-controller="SelectQuoteCtrl">
    <h2>Select Quote</h2>
    <div>
        <div ng-if="person.car">
            <div>Auto</div>
            <div>
                <img src="../Images/car.png" />
            </div>
        </div>
        <div ng-if="person.house">
            <div>Home</div>
            <div>
                <img src="../Images/home.png" />
            </div>
        </div>
        <div ng-if="person.motorcycle">
            <div>Motorcycle</div>
            <div>
                <img src="../Images/Mcycle.png" />
            </div>
        </div>
    </div>
    <div><input ng-click="nextPage()" type="button" name="submit" value="Submit" /></div>
</div>